# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# 
*.tif
*.png
*.pdf

#
!/results/

# Vivado temporary files
*.jou
*.log
*.str
*.pb
*.xml
*.html
*.ltx
*.dcp
*.bgn
*.cache/
*.runs/
*.sim/
*.gen/
*.srcs/
*.ip_user_files/
*.hw/
.webtalk/
.Xil/